
table {
    border-collapse: collapse;
    width: 100%;
  }

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: whitesmoke;}

img {
width: 250px;
height: 200px;
}