.form {
  background-color: white;
  border-radius: 8px;
  width: 550px;
  margin: 20px auto;
  padding: 20px;
  height: 500px;
  margin-top: 5%;
  border: 3px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
