.form {
    background-color: white;
    border-radius: 8px;
    width: 550px;
    margin: 20px auto;
    padding: 20px;
    margin-top: 5%;
    border: 3px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}
h3{
    color:rgb(106, 106, 155);
    text-align: center;

}

.form-body {
    text-align: left;
    padding: 20px 10px;
}

.form-body>* {
    padding: 5px;
}

.form__label {
    width: 30%;

}

.form_input {
    width: 60%;
}

.footer {
    text-align: center;

}
.form__label{
    margin: 8px;
}



