.slid{
    height: 45rem;
    width: 100%;
    margin-top: 3%;
}

h5{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

p{
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}